body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "nav" "content";
}

.content {
  grid-area: content;
}

.nav {
  grid-area: nav;
  background-color: red;
}
