body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "nav" "content";
}

.whole {
  background-color: #f9f9f9;
  width: 90%;
  margin-left: 70px;
  margin-top: 40px;
  padding: 10px;
  box-shadow: 5px 10px 8px lightcoral;
}

.content {
  grid-area: content;
}

.nav {
  grid-area: nav;
  background-color: rgb(255, 1, 1);
  height: 50px;
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.container {
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  font-family: sans-serif;
}

.a {
  margin-left: 40px;
}
.tube {
  padding-right: 40px;
  font-size: 20px;
  font-weight: 500;
}
.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.vidDiv {
  /* background-color: #f9f9f9; */

  /* background-color: red; */
  border-radius: 11px;
  height: 242px;
  /* display: grid; */
  /* align-content: center; */
  text-align: center;
  margin-top: 100px;
  width: 315px;
  display: flex;
  justify-content: center;
}

img {
  margin-top: 22px;
  /* height: fit-content; */
  height: 136px;
  width: 245px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.vidDiv:hover {
  transform: scale(1, 1.1);
  transition: ease-in-out;
  /* padding: 10px; */
}

.rap {
  height: 300px;
}

.vidCon {
  height: 376px;
  /* background-color: white; */
  margin-top: 49px;
  width: 2;
  border-radius: 6px;
  width: 266px;
  margin-left: -4px;
  /* text-align: center; */
  box-shadow: darkgray;
  margin-bottom: auto;
}
.aa:visited {
  color: black;
}
.aa {
  text-decoration: none;
}

.pp {
  font-family: monospace;
  font-size: large;
  margin-top: 10px;
}

.inny {
  width: 579px;
  height: 32px;
  border-radius: 7px;
  border-width: 1px;
  border-top-color: white;
  outline: none;
}

.put {
  height: 32px;
  background-image: url("./Images/maggy.png");
  border-radius: 3px;
}

.video {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  margin-top: 28px;
  height: 600px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
}

.tubby {
  border-radius: 10px;
  /* padding: 10px; */
  box-shadow: 5px 10px 8px #888888;
}
.contentt {
  margin-top: 20px;

  font-family: monospace;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: auto;

  padding: 4px;
  box-shadow: 5px 10px 8px #888888;
}
.helper {
  /* margin-right: 346px; */
}

.views {
  color: #696969;
  margin-right: 96px;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 118px;
  font-weight: 500;
  padding-bottom: 4px;
}

.tite {
  font-size: 20px;

  font-weight: 600;
}

.aboutDiv {
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  height: 193px;
  padding: 4px;
  background-color: #f9f9f9;
  box-shadow: 5px 10px 8px lightslategrey;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 99px;
  border-radius: 10px;
  display: flex;
}

.aboutDiv:hover {
  transform: scale(1.3);
}
