body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "nav" "content";
}

.content {
  grid-area: content;
}

.nav {
  grid-area: nav;
  background-color: rgb(255, 1, 1);
  height: 45px;
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 2px;
}
.container {
  position: absolute;
  padding-top: 15px;
  padding-left: 120px;
  font-family: sans-serif;
}

.a {
  margin-left: 40px;
}
